
.router-link-exact-active, .text-gray-300, .tracking-widest {
                display: none !important;
              }
/*note*/
#toolbarVIP{
   display: none !important;
}

/*litellm*/
a:has(img[alt="LiteLLM Brand"]), div.text-center:has(h2.ant-typography) {
  display: none !important;
}


/*vaultwarden*/
bit-icon[aria-label="Bitwarden logo"] {
  display: none !important;
}



