
.router-link-exact-active, .text-gray-300, .tracking-widest {
                display: none !important;
              }
/*note*/
#toolbarVIP{
   display: none !important;
}

/*litellm*/
a[alt="LiteLLM Brand"] {
  display: none !important;
}


